/*@font-face {
    font-family: CerebriRegular;
    src: url(../tipo/CerebriSansPro-Regular.otf);
}

@font-face {
    font-family: CerebriMedium;
    src: url(../tipo/CerebriSansPro-Medium.otf);
}*/
@font-face {
  font-family: ButlerBlack;
  src: url(../tipo/Butler_Black.otf);
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
body ::-moz-selection {
  color: #F7f7f7;
  background: #222222;
}
body ::selection {
  color: #F7f7f7;
  background: #222222;
}

h3 {
  color: rgb(12, 12, 12);
  font-family: "Heebo", sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin: 50px 0;
}

.logo {
  right: 40px;
  position: fixed;
  top: 55px;
}
.logo img {
  height: 60px;
  width: 35px;
  transition: 0.6s;
}
.logo img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.6s;
}

nav {
  animation: slide 1s forwards;
  align-items: center;
  justify-content: center;
  background: #222222;
  display: none;
  height: 100vh;
  left: -100vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 0 60px;
}
nav ul li a {
  color: #F7f7f7;
  font-family: "Heebo", sans-serif;
  font-size: 55px;
  text-decoration: none;
}
nav ul li a:hover {
  color: #7F99B2;
}

@keyframes slide {
  100% {
    left: 0;
  }
}
@media only screen and (max-width: 570px) {
  .logo {
    align-items: center;
    background: #F7f7f7;
    border-radius: 50%;
    box-shadow: 0 0 6px 1px #D2D7DB;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-right: -28px;
    padding: 4px;
    width: 50px;
  }
  .logo > img {
    height: 50px;
    width: 28px;
  }
  nav > ul {
    display: initial;
  }
}
/*--------- PRESENTATION ---------*/
#presentation {
  background: #F7f7f7;
  background-image: url("../img/brushed_ok.png");
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /*img {
      z-index: 0;
      height: 50%;
      width: 100%;
  }*/
  /*.clickbtn { //prueba boton
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      font-size: 18px;
      font-weight: bold;
      color: #F7f7f7;
      background-color: rgb(12, 12, 12);
      border: none;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
      //overflow: hidden;
  }*/
}
#presentation > div:first-child {
  align-items: center;
  display: flex;
  height: 100vh;
  position: absolute;
  max-width: 1500px;
  width: 95%;
}
#presentation > div:first-child > h1 {
  color: rgb(12, 12, 12);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 155px;
  text-shadow: 5px 5px 10px #D2D7DB;
  width: 5vw;
}
#presentation > div:first-child > h1 > span {
  color: #F7f7f7;
  -webkit-text-stroke: 1.5px rgb(12, 12, 12);
}
#presentation > div:nth-child(2) {
  max-width: 1500px;
  width: 95%;
}
#presentation > div:nth-child(2) > h2 {
  color: rgb(12, 12, 12);
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  padding: 70px 0;
}
#presentation > div:nth-child(2) > h2::after {
  content: "";
  background: #39586D;
  display: block;
  height: 4px;
  margin-top: 20px;
  width: 80px;
}
#presentation > div:nth-child(3) {
  align-items: flex-end;
  display: flex;
  height: 98vh;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  max-width: 1500px;
  width: 95%;
}
#presentation > div:nth-child(3) p {
  align-items: center;
  display: flex;
}
#presentation > div:nth-child(3) p a {
  color: rgb(12, 12, 12);
}
#presentation > div:nth-child(3) p i {
  font-size: 30px;
}
#presentation > div:nth-child(3) p i:hover {
  color: #D2D7DB;
  transition: 0.5s;
}
#presentation > div:nth-child(3) p::before {
  content: "";
  background: #39586D;
  height: 4px;
  width: 80px;
  margin-right: 40px;
}
#presentation > div:nth-child(4) {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  position: absolute;
  max-width: 1500px;
  width: 95%;
}
#presentation > div:nth-child(4) > img {
  height: 900px;
  width: 550px;
}

@media only screen and (max-width: 600px), (max-width: 1360px) {
  #presentation > div:first-child > h1 {
    font-size: 58px;
  }
  #presentation > div:nth-child(3) {
    height: 100vh;
  }
  #presentation > div:nth-child(3) p::before {
    content: none;
  }
  #presentation > div:nth-child(4) {
    justify-content: center;
  }
  #presentation > div:nth-child(4) img {
    height: 520px;
    opacity: 0.07;
    width: 330px;
  }
}
/*--------- ABOUT ME ---------*/
#about-me {
  align-items: flex-start;
  background: #eef0f1;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
#about-me > div {
  max-width: 1500px;
  width: 95%;
}
#about-me > div h3::after {
  content: "";
  background: #39586D;
  display: block;
  height: 6px;
  width: 80px;
}
#about-me > div article {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 40vh;
  padding: 10px;
}
#about-me > div article > div {
  padding-bottom: 15px;
  max-width: 500px;
}
#about-me > div article > div h4 {
  color: #2C4156;
  font-family: ButlerBlack;
  font-size: 55px;
  justify-content: justify;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
#about-me > div article > div h4:hover {
  color: #98A1AA;
  transition: 0.4s;
  cursor: pointer;
}
#about-me > div article > div > p {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  text-align: center;
}
#about-me > div article main {
  max-width: 500px;
  width: 100%;
}
#about-me > div article main > div {
  align-items: center;
  background: #98A1AA;
  display: flex;
  justify-content: center;
  margin: 12px 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#about-me > div article main > div > p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  width: 100px;
}
#about-me > div article main > div > div {
  background: #dddddd;
  height: 20px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#about-me > div article main > div > div .completed {
  background: #39586D;
  height: 20px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#about-me > div article main > div > div .pre-completed {
  background: #39586D;
  height: 20px;
  width: 86%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#about-me > div article main > div > div .in-process {
  background: #39586D;
  height: 20px;
  width: 38%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#about-me > div .personal {
  align-items: flex-start;
  min-height: 30vh;
  display: flex;
  justify-content: center;
}
#about-me > div .personal .conjunto {
  margin: 0 100px 0 100px;
}
#about-me > div .personal .conjunto > div {
  align-items: center;
  background: #4d4d4d;
  border-radius: 50%;
  box-shadow: 0 0 6px 2px #D2D7DB;
  display: flex;
  height: 170px;
  justify-content: center;
  padding: 0;
  width: 170px;
}
#about-me > div .personal .conjunto > div i {
  color: #ffffff;
  font-size: 50px;
  transition: 0.6s;
}
#about-me > div .personal .conjunto > div i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.6s;
}
#about-me > div .personal .conjunto h5 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 25px 0 10px 0;
}
#about-me > div .personal .conjunto span {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  #about-me > div {
    width: 100%;
  }
  #about-me > div > h3 {
    padding-left: 2.5%;
  }
  #about-me > div > article > main > div:nth-child(4) > p {
    padding: 0 7px;
  }
  #about-me > div > article > main > div:nth-child(6) > p {
    padding: 0 9px;
  }
  #about-me > div > article > main > div:nth-child(10) > p {
    padding: 0 7px;
  }
  #about-me > div > .personal {
    margin-bottom: 35px;
  }
  #about-me > div > .personal .conjunto {
    padding: 20px;
  }
}
/*--------- WORK ---------*/
#work {
  align-items: flex-start;
  background: #F7f7f7;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
#work div {
  max-width: 1500px;
  width: 95%;
}
#work div h3 {
  padding: 5px;
  height: 60px;
}
#work div h3::after {
  content: "";
  background: #39586D;
  display: block;
  height: 6px;
  width: 80px;
}
#work div > div {
  padding-bottom: 25px;
}
#work div > div button {
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  color: #222222;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 13px;
  margin-left: 5px;
}
#work div > div button:hover {
  background: #222222;
  color: #ffffff;
}
#work article {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
  padding: 10px;
}
#work article > div.projects {
  background: #ffffff;
  box-shadow: 0 0 6px 2px #ebebeb;
  margin: 15px;
  max-width: 276px;
  padding: 10px;
  transition: 0.5s;
}
#work article > div.projects:hover {
  box-shadow: 0 0 10px 2px #dadada;
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.5s;
}
#work article > div.projects > img {
  width: 100%;
}
#work article > div.projects > div {
  flex-wrap: wrap;
  padding-bottom: 10px;
}
#work article > div.projects > div h4 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14.5px;
}
#work article > div.projects > div p {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
}

/*-------- DIV FINAL GALERIA --------*/
#gallery {
  align-items: center;
  background: rgba(34, 34, 34, 0.8);
  display: none;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100vw;
}

@media only screen and (max-width: 520px) {
  #work > div > div > button {
    margin-bottom: 10px;
  }
}
/*--------- CONTACT ---------*/
/*#contact {
    align-items: flex-start;
    background: #eef0f1;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    main {
        max-width: 1500px;
        width: 95%;

        h3::after {
            content: "";
            background: #39586D;
            display: block;
            height: 6px;
            width: 80px;     
        }

        >div {
            align-items: center;
            background: #f8f8f8;
            display: flex;
            justify-content: center;
            height: 70vh;

            >form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                //max-width: 1080px;

                >div {
                    margin: 5px;
                    width: 100%;

                    input {
                        background: #eeecec; 
                        border: 0;
                        border-bottom: 4px solid #8c8075;
                        border-radius: 3px;
                        box-sizing: border-box;
                        color: #524a42;
                        font-family: CerebriRegular;
                        font-size: 16px;
                        padding: 15px;
                        width: 100%;
                        cursor: default;
                    }

                    &:nth-child(1), &:nth-child(2) {
                        //width: 48.7%;
                        width: 49.1%;
                    }
                }

                >input {
                    background: #8c8075; 
                    border: 0;
                    border-radius: 5px;
                    color: #ffffff;
                    cursor: pointer;
                    font-family: CerebriRegular;
                    font-size: 16px;
                    margin-top: 25px;
                    padding: 10px 90px;

                    &:hover {
                        background: #524a42;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 703px) {
    form>div {
        width: 100% !important;
    }
}*/
/*--------- FAREWELL ---------*/
#farewell {
  align-items: center;
  background: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  min-height: 5vh;
  margin-top: 80px;
}
#farewell h1 {
  font-family: "Heebo", sans-serif;
  font-size: 40px;
}
#farewell h1 span {
  margin: 10px;
  float: left;
  color: #f5f2f0;
  animation-name: titleAnimation;
  animation-duration: 5s;
}
#farewell h1 span {
  animation-delay: 0.6s;
}
#farewell h1 span:first-child {
  animation-delay: 0.7s;
}
#farewell h1 span:last-child {
  animation-delay: 0.5s;
  color: #7F99B2;
  font-weight: 800;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
  }
  80% {
    transform: translateY(0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
            clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}
@media only screen and (max-width: 382.4px) {
  #farewell > h1 > span {
    margin: 0 20px 0 20px;
  }
}
/*--------- FOOTER ---------*/
footer {
  background: #222222;
  text-align: center;
  padding: 30px 30px;
  /*.symbol {
      color: #7F99B2; 
      font-size: 26px;
      margin-top: 0;
  }*/
}
footer > :nth-child(1) {
  color: #F7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 30px;
}
footer > :nth-child(2) {
  color: #F7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 65px;
}
footer > :nth-child(3) {
  display: flex;
  justify-content: center;
}
footer > :nth-child(3) > .html {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
footer > :nth-child(3) > .html > img {
  height: 30px;
  width: 25px;
}
footer > :nth-child(3) > .css {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
footer > :nth-child(3) > .css > img {
  height: 30px;
  width: 25px;
}
footer > :nth-child(3) > .sass {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
footer > :nth-child(3) > .sass > img {
  height: 25px;
  width: 35px;
}
footer > :nth-child(3) > .js {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
footer > :nth-child(3) > .js > img {
  height: 30px;
  width: 25px;
}
footer > :nth-child(3) > .code {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ececec;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
footer > :nth-child(3) > .code > img {
  height: 25px;
  width: 25px;
}
footer > :last-child {
  color: #98A1AA;
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  margin-top: 40px;
  margin-bottom: 40px;
}
footer > :last-child > span {
  color: #F7f7f7;
}

#scroll {
  bottom: 90px;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}
#scroll > div {
  border: 1.5px solid rgb(19, 17, 17);
  border-radius: 45px;
  height: 33px;
  position: absolute;
  width: 20px;
}
#scroll > div > div {
  animation: scrollDown 2s infinite;
  background: rgb(36, 36, 36);
  border-radius: 50%;
  height: 5px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: 5px;
}
#scroll > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  top: 43px;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */